<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="app.js"></script>
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"  :style="{width:playerHealth + '%'}">
{{playerHealth}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div :style="{width:monsterHealth + '%'}" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
{{monsterHealth}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameStarted">
        <div class="small-12 columns">
            <button id="start-game" v-on:click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else="gameStarted">
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack">ATTACK</button>
            <button id="special-attack" v-on:click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" v-on:click="heal">HEAL</button>
            <button id="give-up" v-on:click="giveUp">GIVE UP</button>
            <button id="give-up" v-on:click="pucajKalasom">Broj Metaka za kalas{{kalasnikovMetci}}</button>

        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns" >
            <ul>
                <li v-for="turn in turns" :class="{'player-turn':turn.isPlayer,'monster-turn':!turn.isPlayer}">
                    {{turn.text}}

                </li>
            </ul>

        </div>

    </section>
</div>
</body>
</html>